<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="text/html; charset=UTF-8">
    <title>WMP</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<div>
    <section>
        <form name="form" id="form">
            <table>
                <tr>
                    <td>URL</td>
                    <td><input type="text" name="url" id="url"></td>
                </tr>
                <tr>
                    <td>TYPE</td>
                    <td>
                        <select name="type" id="type">
                            <option th:value="except">HTML태그 제외</option>
                            <option th:value="include">TEXT 전체</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>출력묶음단위 (자연수)</td>
                    <td><input type="number" name="unit" id="unit"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="button" onclick="getResult()">출력</button></td>
                </tr>
            </table>
        </form>
    </section>
    <br/>
    <section>
        <div>
            몫 : <span id="resultShare"/>
        </div>
        <div>
            나머지 : <span id="resultRest"/>
        </div>
    </section>
</div>

<script th:inline="javascript" type="text/javascript">

    function getResult() {
        var info = $("#form").serialize();
        console.info(info);

        $.ajax({
            url : "/result",
            type : "GET",
            data : info,
            dataType: "json",
            success : function(data) {
                console.log("share : " + data.share);
                console.log("rest : " + data.rest);

                $("#resultShare").text(data.share);
                $("#resultRest").text(data.rest);
            },
            error : function(xhr, status) {
                alert(xhr + " : " + status);
            }
        })
    }

</script>

</body>
</html>